<div class="jumbotron"><h1>All about our services</h1></div>

<div class="col-md-6">
<accordion>
    <accordion-group>
		<accordion-heading>
        	<div>
           		abc
        	</div>
      	</accordion-heading>
      This content is straight in the template.
    </accordion-group>
</accordion>
</div>


<div class="col-md-6">
<accordion>
    <accordion-group>
		<accordion-heading>
        	<div>
           		abc
        	</div>
      	</accordion-heading>
      This content is straight in the template.
    </accordion-group>
</accordion>
</div>
